/**
  Pages transitions
 */

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}


/**
  Notifications transitions
 */
.notification-enter-active, .notification-leave-active {
  transition: opacity .3s;
}
.notification-enter, .notification-leave-to {
  opacity: 0;
}
