/**
  Navigation
 */

.nuxt-link-exact-active {
  color: $cd-pink !important;
  font-weight: bold;
  border-left: solid 3px $cd-pink !important;
}

/**
  Utils
 */

.clickable:hover {
  cursor: pointer;
}
