// Primary Colors

$cd-blue: #286480;
$cd-pink: #d14582;
$cd-yellow: #f6be41;
$cd-purple: #300c4a;

$nav-background-active: rgba(209, 69, 130, 0.05);

$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
                (
                        xs: 0,
                        sm: 576px,
                        md: 768px,
                        lg: 992px,
                        xl: 1200px
                ),
                $grid-breakpoints
);
